/*.root{
	-fx-background-color:#2ba2c0;
}*/

.button
{
    -fx-font-family: "Arial";
    -fx-font-size:15px;
    -fx-background-color: #2ba2c0;
    -fx-arc-width: 0;
    
    -fx-text-fill: #FFF;
}

#password
{
    -fx-background-color: rgba(189, 202, 201, .4);
    -fx-text-fill: #014282;
    -fx-font-size:15px;
    -fx-font-family: "Arial";
    -fx-background-image:url('cup_coffee-24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:right;  

    -fx-border-width:0.8;
    -fx-border-color:#FFF; 
}

#email
{
    -fx-background-color: rgba(189, 202, 201, .4);
    -fx-text-fill: #014282;
    -fx-font-size:15px;
    -fx-font-family: "Arial";
    -fx-background-image:url('user-24.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: right;    
    
    -fx-border-width:0.8;
    -fx-border-color:#FFF;    
}

#loginmain
{
    -fx-background-image: url('login2.png');     
    -fx-background-repeat: no-repeat;
}

#LoginPane
{
    -fx-background-color: rgba(255, 255, 255, 0.7);
    -fx-border-width:0.5;
    -fx-border-color:#cbdad9;
}

#newPatient
{
    -fx-font-family: "Arial";
    -fx-font-size:12.5px;
    -fx-background-color: #2ba2c0;
    
    -fx-text-fill: #FFF;        
}

#SearchPatient
{
    -fx-font-family: "Arial";
    -fx-font-size:12.5px;
    -fx-background-color: #2ba2c0;
    
    -fx-text-fill: #FFF;       
}

#logoutbtn
{
    -fx-font-family: "Arial";
    -fx-font-size:12.5px;
    -fx-background-color: #2ba2c0;
    
    -fx-text-fill: #FFF;     
}

#PatientSearchMain
{
    -fx-background-color: floralwhite;
}

#Patientdetails
{
    /*-fx-background-color: #2ba2c0;*/
    -fx-min-width: 300;
}

#PatientSearchTableView
{
    
}

#MenuColumn
{

}

.MenuButtons
{
    -fx-skin: "com.sun.javafx.scene.control.skin.MenuButtonSkin";
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 0;
    -fx-padding: 0.0em; /* 0 */
    -fx-text-fill: -fx-text-base-color;        
}

#profilePicture
{
    -fx-background-image:url('profile.png');
    -fx-background-repeat: no-repeat;    
}

#QrCodeScan
{
    -fx-font-family: "Arial";
    -fx-font-size:12.5px;
    -fx-background-color: #2ba2c0;
    
    -fx-text-fill: #FFF;         
}

#FingerPrintScan
{
    -fx-font-family: "Arial";
    -fx-font-size:12.5px;
    -fx-background-color: #2ba2c0;
    
    -fx-text-fill: #FFF;         
}

#FacialScan
{
    -fx-font-family: "Arial";
    -fx-font-size:12.5px;
    -fx-background-color: #2ba2c0;
    
    -fx-text-fill: #FFF;         
}

#SelectPatient
{
    -fx-font-family: "Arial";
    -fx-font-size:12.5px;
    -fx-background-color: #2ba2c0;
    
    -fx-text-fill: #FFF;      
}

#PatientDOB
{
    -fx-font-family: "Arial";
    -fx-font-size:12.5px;     
}

#EditPatient
{
    -fx-font-family: "Arial";
    -fx-font-size:12.5px;
    -fx-background-color: #2ba2c0;
    
    -fx-text-fill: #FFF;     
}

#Details{
    -fx-font-family: "Arial";
    -fx-font-size:12.5px;
    -fx-background-color: #2ba2c0;
    
    -fx-text-fill: #FFF;      
}